
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    border-bottom: 1px solid #111010;
}

.header:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 3;
}

.nav__bar {
   position: relative;
   /* z-index: 2; */
   display: flex;
   justify-content: space-between;
   height: 60px;
   align-items: center;
}

.nav__logo {
   overflow: hidden;
   position: relative;
   z-index: 30;
}

.nav__list {
    display: flex;
    position: relative;
    z-index: 3;
}

.nav__list li{
    list-style: none;
    margin-right: 100px;
}
.nav__list li:last-child{
   margin-right: 0;
}
.nav__card {
   display:flex;
   align-items:center;
}

.card {
   margin-left: 30px;
   margin-right: 8px;
}
.card:hover{
   transition: all .3s ease;
   transform: translateY(3px);
}
.counter {
   font-size: 16px;
   line-height: 16px;
   color: #111010;
}

.nav__link-search{
   font-size: 16px;
   line-height: 24px;
   text-transform: uppercase;
   color: #111010;
   text-decoration:none;
}
.nav__link-search:hover{
   transition: all .3s ease;
   text-decoration: underline;
}

.nav__link{
   font-size: 16px;
   line-height: 24px;
   text-transform: uppercase;
   color: #111010;
   text-decoration: none;
}

.nav__link:hover{
   transition: all .3s ease;
   text-decoration: underline;
}

@media (max-width: 930px){
   .nav__list li{
      margin-right: 50px;
   }
   .nav__card{
      margin-left: 10px;
   }
}
@media (max-width: 800px){
   .nav__list li{
      margin-right: 30px;
   }
   .nav__link{
      font-size: 14px;
      line-height: 20px;
   }
   .card {
      width: 25px;
      margin-left: 20px;
      margin-right: 6px;
   }
   .counter {
      font-size: 14px;
      line-height: 14px;
   }
}
@media (max-width:650px) {
   .container{
      padding: 0 10px;
   }
}
.card{
   top: 10px;
}
.scrol{
   transition: all .4s ease;
   background-color: rgba(87, 87, 87, 0.97);
   border-bottom: 1px solid rgb(38, 38, 38);
}